body {
	color: #c8c8c8;
	background-color: #466675
}
 
input[type=text]{
	color: #466675;
	font-weight: bold;
	width: 75%;
	text-align: center;
	background-color: #37aecc;
}

.btn, .glyphicon-plus{
	color: #37aecc;
	background: #c8c8c8;
}
.center {
	text-align: center;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.form-actions {
    margin-top: 10px;
    background-color: transparent;
    text-align: center;
}
span {
	color: #fac8bf;
	padding-right: 5%;
}
.strike{
	text-decoration: line-through;
}