<div ng-controller="ListController as list">
		<div class='container'>
			<div class="col-xs-6" >
			<h1>To Do List</h1>
			<h2 ng-repeat="item in list.items" ng-style="myStyle"> {{ item | lowercase}}<span ng-click="list.removeTask(item)" class="glyphicon glyphicon-trash pull-right"></span><span ng-click="myStyle = list.style()" class="glyphicon glyphicon-ok pull-right"></span><span ng-click="myStyle = {}" class="glyphicon glyphicon-unchecked pull-right"></span> </h2>
			</div>
		</div>
	</div>
	<div class="container">
		<form class="col-xs-6" ng-controller="FormController as form" ng-submit="form.addTask(form.newItem)" novalidate>
			<p> {{form.newItem}} </p>
			<input placeholder='new task' type="text" ng-model="form.newItem"/>
			<button class="btn btn-success">Add</button>	
		</form>
	</div>	